<div class="productView__gallery">
  <ul rn-carousel rn-carousel-index="slideIndex2" class="my-slider ng-cloak">
    <li ng-repeat="slide in panel.model.itemImage">
      <img ng-src="{{slide.image}}"/>
    </li>
  </ul>

  <div class="buyer-retailer-btn__container">
    <a class="buyer-btn__link" href="/">Buy on store</a>
  </div>

  <div class="ng-cloak thumbs">
    <div class="thumb" ng-repeat="slide in panel.model.itemImage" ng-click="$parent.slideIndex2=$index" ng-class="{'is-active': ($parent.slideIndex2==$index)}">
      <img ng-src="{{slide.image}}"/>
    </div>
  </div>
</div> <!-- product gallery --> 